////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// Landscape Footer
/// @group Landscape Footer
@mixin landscape-footer {
  .footer {
    background-color: $white;
    border-top: 1px dotted rgba($black, .2);

    @media only screen and (min-width: $navigation-threshold) {
      padding-top: 60px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .footer__title {
      color: $warm-grey;
      font-size: 14px;
      text-transform: uppercase;
      padding: 10px;
      margin-bottom: 0;
      border-bottom: 1px solid rgba($cool-grey, .2);
      cursor: pointer;
      background-image: url('#{$asset-server-path}v1/7bd1bd7b-arrow_down_9fa097.svg');
      background-position: 96% 50%;
      background-repeat: no-repeat;
      background-size: 13px 13px;

      @media only screen and (min-width: $navigation-threshold) {
        padding: 0 0 20px;
        border-bottom: 0;
        cursor: default;
        background: 0;
      }

      &.open {
        background-image: url('#{$asset-server-path}v1/dd3d9dec-arrow_up_9fa097.svg');

        @media only screen and (min-width: $navigation-threshold) {
          background: 0;
        }
        
        + .footer__second-nav {
          display: block;
        }
      }
    }

    .footer__second-nav {
      display: none;
      padding: 10px;

      @media only screen and (min-width: $navigation-threshold) {
        display: block;
        padding: 0;
      }
    }

    .footer__link {
      color: $cool-grey;
    }

    .list-contacts {

      li {
        margin-bottom: 5px;
      }
    }
  }
}
