// scss-lint:disable NestingDepth

////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// Landscape Header
/// @group Landscape Header
@mixin landscape-header {
  .banner {
    box-shadow: 0;
    background-color: $dark-aubergine;

    .logo {

      img {
        margin-bottom: 0;
      }
    }

    .nav-primary {

      @media only screen and (min-width: $navigation-threshold) {
        width: auto;
        max-width: inherit;
      }

      ul {
        border-top: none;

        li {
          border-color: rgba($white, .2);
          width: 100%;
          border-bottom: 1px solid $silver;

          @media only screen and (min-width: 768px) {
            width: auto;
            border-bottom: none;
          }

          &:last-child {
              border-color: rgba($white, .2);
          }
        }
      }

      ul li a,
      ul li a:link,
      ul li a:visited {

        @media only screen and (min-width: 768px) {
          &:hover {
            background-color: #451437;
          }
        }
      }

      .login {
        float: right;

        @media only screen and (min-width: $navigation-threshold) {
          margin-right: 20px;
        }
      }
    }
  }
}
// scss-lint:enable NestingDepth
