////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// row element styles
/// @group row
@mixin landscape-row {
  .row {

    &.strip-canonical {
      background: $dark-aubergine;
      color: $white;

      .pull-quote p {
        color: $white;
      }
    }

    &.strip-canonical--grid {
      @extend .strip-dark;
      background-image: url('https://assets.ubuntu.com/v1/62d597f6-background-grid.png');
    }

    &.try-landscape {
      background-color: #f8f8f8;
      background-image: url('https://assets.ubuntu.com/v1/76a34db4-landing-cta.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
