// scss-lint:disable PlaceholderInExtend

////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// row element styles
/// @group row
@mixin landscape-row {
  .row {

    &.strip-canonical {
      background: $dark-aubergine;
      color: $white;

      .pull-quote p {
        color: $white;
      }
    }

    &.strip-canonical--grid {
      @extend .strip-dark;
      background-image: url('#{$asset-server-path}v1/62d597f6-background-grid.png');
    }

    &.try-landscape {
      background-color: adjust-hue(saturate(darken($white, 3), 15), 52);
      background-image: url('#{$asset-server-path}v1/76a34db4-landing-cta.png');
      background-repeat: no-repeat;
      background-position: center;
      padding-top: 40px;
      padding-bottom: 40px;

      @media only screen and (min-width: $navigation-threshold) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    &.row--full-bleed {

      @media only screen and (min-width: $navigation-threshold) {
        padding-top: 0;
        padding-bottom: 0;

        img {
          max-width: inherit;
          margin: 0;
        }
      }
    }
  }
}
// scss-lint:disable PlaceholderInExtend
