////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// table element styles
/// @group table
@mixin landscape-table {
  .table--fullwidth {
    margin: 0;

    th,
    td {
      background-color: $transparent;
      border: 0;
      padding: 25px 0;
    }

    th {
      font-weight: 300;
      font-size: 18px;

      @media only screen and (min-width: $navigation-threshold) {
        font-size: 23px;
      }
    }

    tr {

      &:after {
        position: absolute;
        display: block;
        content: '';
        width: calc(100vw + 50%);
        height: 1px;
        left: -50%;
        border-bottom: 1px dotted rgba(136, 136, 136, 0.5);
      }
    }

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: calc(100vw + 50%);
      height: 1px;
      left: -50%;
      border-bottom: 1px dotted rgba(136, 136, 136, 0.5);
    }
  }
}
