////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

@mixin landscape-typography {
  .title--large {
    font-size: 250%;
  }

  .title--under-score {

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 3px;
      width: 50px;
      background-color: $button-primary-color;
      left: 50%;
      margin-left: -25px;
      margin-top: 8px;
    }
  }

  .font-giga {
    font-size: 2.813em;
  }

  .font-large {
    font-size: 2em;
  }

  .font-medium-lrg {
    font-size: 1.438em;
  }

  .font-medium {
    font-size: 1.250em;
  }

  .font-normal {
    font-size: 1em;
  }

  .color--grey {
    color: $stone-grey;
  }

  h1,
  h2,
  h3,
  h4 {

    img {
      display: inline;
      margin: 0;
    }
  }
}
