////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// Landscaoe Connected List
/// @group Landscaoe Connected List
@mixin landscape-connectedlist {
  .connected-list {
    position: relative;
    margin-left: 0;

    li {
      list-style: none;

      img {
        z-index: 2;
        position: relative;
      }

      &:after {
        content: "";
        height: 4px;
        width: 250px;
        position: absolute;
        top: 60px;
        left: 99px;
        background-image: url('https://assets.ubuntu.com/v1/f2a25267-image-list-stroke.svg');
        display: block;
        -ms-transform: rotate(14deg);
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg);
      }

      &:nth-child(2):after {
        -ms-transform: rotate(-14deg);
        -webkit-transform: rotate(-14deg);
        transform: rotate(-14deg);
      }

      &:nth-child(even) {

        img {
          margin-top: 40px;
        }
      }

      &:last-of-type:after {
        display: none;
      }
    }
  }
}
