////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// Landscaoe Row hero
/// @group Landscaoe Row hero
@mixin landscape-rowhero {
  .row-hero {
    position: relative;
    overflow-y: hidden;
    margin-top: 0;
    background-color: $dark-aubergine;
    background-image: url('#{$asset-server-path}v1/927832c8-backround.png');
    background-position: right bottom -180px;
    background-repeat: no-repeat;
    background-size: 1024px auto;
    color: $white;
    border-top: 1px solid rgba($white, .2);
    padding: 60px 10px 160px;

    @media only screen and (min-width: $navigation-threshold) {
      padding: 80px 20px;
      min-height: 500px;
      background-size: auto;
      background-position: right bottom -40px;
    }

    .box {
      padding: 40px 30px;
    }

    &.row-hero--features {
      background-image: url('#{$asset-server-path}v1/a85b628b-hero-background.png');
      background-size: cover;
    }
  }
}
