////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// Landscaoe Row hero
/// @group Landscaoe Row hero
@mixin landscape-rowhero {
  .row-hero {
    padding: 170px 0;
    position: relative;
    overflow-y: hidden;
    margin-top: 0;
    background-color: #2C001E;
    background-image: url('https://assets.ubuntu.com/v1/a85b628b-hero-background.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    border-top: 1px solid rgba($white, .2);

    .box {
      padding: 40px 30px;
    }
  }
}
