// import required files

@import '../../node_modules/cloud-vanilla-theme/scss/build';

$bullet-color: $button-primary-color;
$dark-aubergine: #2c001e;
$stone-grey: #aea79f;
$asset-server-path: 'https://assets.ubuntu.com/';

@import 'base/footer';
@import 'base/header';
@import 'base/table';
@import 'base/typography';
@import 'base/row';
@import 'generic/grid';
@import 'generic/blockquotes';
@import 'generic/box';
@import 'generic/helpers';
@import 'generic/lists';
@import 'generic/media';
@import 'generic/tabs';
@import 'objects/instructions';
@import 'objects/rowhero';

@include cloud-vanilla-theme;
@include landscape-box;
@include landscape-pull-quotes;
@include landscape-footer;
@include landscape-grid;
@include landscape-header;
@include landscape-instructions;
@include landscape-lists;
@include landscape-media;
@include landscape-vertical-alignment;
@include landscape-table;
@include landscape-tabs;
@include landscape-typography;
@include landscape-row;
@include landscape-rowhero;

body {
  overflow-x: hidden;
}
