////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// Lists
/// @group Lists
@mixin landscape-lists {
  .list-ticks {

    &.list-ticks--large-text {

      li {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-position: 0 27px;
      }
    }

    &.list-ticks--no-border {

      li {
        border: none;
      }
    }
  }
}
