////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

/// Media element styles
/// @group Media
@mixin landscape-media {
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  .image--shadow {
    box-shadow: 0 5px 30px 3px rgba(102, 102, 102, .08);
    border-radius: 3px;
    border: 1px solid rgba(54, 54, 54, .09);
  }

  .image--shadow-left {
    box-shadow: -5px 0 30px 3px rgba(102, 102, 102, .08);
    border-left: 1px solid rgba(54, 54, 54, .09);
  }

  .inline-logos {

    li img {
      max-width: none;
      max-height: none;
    }

    .last-item {
      clear: right;
    }
  }
}
