// scss-lint:disable SelectorFormat NestingDepth

////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

@mixin landscape-tabs {
  .tab {

    &.js-is-active {
      border-bottom: 4px solid $button-primary-color;

      .tab__link {
        color: $button-primary-color;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .tab__link {
      color: $cool-grey;
    }
  }

  .tab-target {
    display: none;
  }
}
// scss-lint:enable SelectorFormat NestingDepth
