////
/// @author       Web Team at Canonical Ltd
/// @link         https://github.com/ubuntudesign/landscape.canonical.com
/// @since        1.0.0
////

@mixin landscape-tabs {
  .tab {
    color: $cool-grey !important;
    position: relative;
    &.js-is-active {
      color: $button-primary-color !important;

      &:hover {
        text-decoration: none;
      }

      &:after {
        content: '';
        height: 3px;
        width: 100%;
        background-color: $button-primary-color;
        display: block;
        position: absolute;
        bottom: -25px;
      }
    }
  }

  .tab-target {
    display: none;
  }
}
